.schedule-image
  width: 32vw
  height: 24vw
  max-width: 400px
  max-height: 300px
  img
    object-fit: cover
    object-position: 0 45%

@media (max-width: 768px) 
  .schedule-image
    width: 80vw
    height: 40vw
    img
      object-fit: cover
      object-position: 0 45%